@import 'src/css/quasar.variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#bg-app {
  // background-color: $background;
  background-color: transparent;
  background: rgba(0, 0, 0, 0);
}

:root {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 16px;
}

.content {
  max-width: $max-width;
  margin: 0 auto;
}

button {
  border-radius: $e-button-border-radius;
  padding: $e-button-padding;
  font-size: $e-button-font-size;
  border: none;
}
