.gitHub-section {
  background-color: #010626;

  h2 {
    color: white;
    text-align: center;
  }

  .content {
    text-align: center;
  }

  .carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease;
  }

  .repo-container {
    max-width: 90vw;
    width: 100%;

    .repo-card {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 8px;
      background-color: #fff;

      h3 {
        margin: 0;
        white-space: wrap;
      }

      p {
        margin: 0.5rem 0;
        white-space: wrap;
      }

      a {
        color: #007bff;
        text-decoration: none;

        &:hover {
        }
        text-decoration: underline;
      }
    }
  }

  #goToGithub {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    margin-block: 1rem;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }
}
