@import 'src/css/quasar.variables.scss';

body {
  h1 {
    background: linear-gradient(135deg, $accent 0%, #00000000 70%);
  }

  h2 {
    background: linear-gradient(135deg, $accent 100%, #00000000 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.full-screen {
  backdrop-filter: blur(5px);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 50px;
  overflow: hidden;
}

.scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $e-button-main-color;
  border-radius: 100%;
  padding: 0;
  width: 50px;
  height: 50px;
  align-self: auto;
  color: black;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.about-section {
  color: white;
  position: relative;
  overflow: hidden;

  picture {
    img {
      border-radius: 100%;
      height: 20rem;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}

.timeline-section {
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  button {
    background-color: $accent;
    font-size: 1rem;
    transition: background-color 0.3s;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .timeline-container {
    display: flex;
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    transition: transform 0.5s ease-in-out;

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity 0.5s;
    }
    .fade-enter-from,
    .fade-leave-to {
      opacity: 0;
    }
    .fade-enter-to,
    .fade-leave-from {
      opacity: 1;
    }
  }

  article {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    h2 {
      font-size: 3rem;
      position: absolute;
      white-space: nowrap;
      top: 10vh;
      background-clip: text;
      margin: 0;
      text-align: center;
      text-decoration: none;
    }

    .timeline-line {
      position: absolute;
      width: 100%;
      height: 2px;
      background: white;
      top: 50vh;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      width: 94%; // Page margin
      gap: 2%;
    }

    a {
      font-size: 1.5rem;
      padding: 10px 15px;
      background: rgb(216, 216, 216);
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      display: inline-block;
      position: relative;
      overflow: hidden;

      &:hover {
        text-decoration: none;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.445);
        transition: left 0.5s ease-in-out;
      }

      &:hover:before {
        left: 100%;
      }
    }

    .course {
      position: relative;
    }
  }

  .navigation-buttons {
    position: absolute;
    bottom: 20%;
    display: flex;
    gap: 20px;

    button {
      font-size: 1.2rem;
    }
  }
}

.projects-section {
  display: flex;
  justify-content: center;
  .project-card {
    flex: 1 1 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;

    @media (min-width: 700px) {
      flex: 1 1 48%;
    }
  }
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
  }
  a {
    flex-basis: 100%;
    background-color: $accent;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 16px;
    transition: background-color 0.3s;
    transition: transform 0.2s ease-in-out;
  }
}

.skills-section {
  color: white;

  h2 {
    color: $accent;
  }

  h3 {
    text-align: center;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.gitHub-section {
  h2 {
    color: $accent;
  }
}

.comments-section {
  // background: linear-gradient(185deg, #37d5f1 0%, #010626 70%);
  color: white;

  h2 {
    color: $accent;
  }

  p {
    font-size: 1.5rem;
  }

  #work-comments {
    p {
      margin-top: 3rem;
      font-size: 1rem;
      font-weight: 400;
    }

    i {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 710px) {
  body {
    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  hr {
    display: none !important;
  }

  .skills {
    .skill {
      font-size: 1rem;
    }
  }

  .full-screen {
    padding-inline: 10px;
  }

  .timeline-section {
    display: flex;

    .timeline-container {
      display: flex;

      article {
        .timeline-line {
          background: transparent;
        }

        ul {
          list-style: none;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-evenly;
          width: 98%;
          height: auto !important;
          gap: 2%;

          a {
            justify-content: center !important;
            white-space: wrap;
            width: 100% !important;
          }

          div {
            padding: 0.5rem 1rem !important;
            height: auto !important;
          }
        }

        span {
          display: none;
        }

        a {
          font-size: 1.5rem;
          padding: 10px 15px;
          background: rgb(216, 216, 216);
          border-radius: 5px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
          display: inline-block;
          position: relative;
          overflow: hidden;
        }
      }
    }

    .navigation-buttons {
      bottom: 100px;
      gap: 20px;

      button {
        padding: 6px 12px;
      }
    }
  }

  .social-section {
    .social-profiles {
      a {
        font-size: 2rem;
      }
    }
  }

  .comments-section {
    p {
      font-size: 1rem;
    }

    #work-comments {
      p {
        font-size: 0.8rem;
      }

      i {
        font-size: 0.6rem;
      }
    }
  }
}
